nav {
    height: 100%;
    width: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFDEAD;
    list-style-type: none;
    padding: 16px;
}
/* CV.html */
section{
    margin-left: 110px;
    margin-top: 0px;
}
.tittle2{
    font-size: 30px;
}
/* OVERME.html */
body{
    font: "Georgia" ;
    font-style: italic;
}
article{
    margin-left: 110px;
}
.tittle{
    font-size: 30px;
}
.main{
    margin-left: -20px;
}
.list{
    margin-left: 100px;
}